@model Proyecto_Rescate_Adopcion.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAnimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioSolicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioSolicitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSolicitud">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
