@model IEnumerable<Proyecto_Rescate_Adopcion.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioSolicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioSolicitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSolicitud">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSolicitud">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSolicitud">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
